/****** Object:  Database [IELTSFlow]    Script Date: 24/07/2026 21:57:47 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'IELTSFlow')
BEGIN
CREATE DATABASE [IELTSFlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IELTSFlow', FILENAME = N'/var/opt/mssql/data/IELTSFlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IELTSFlow_log', FILENAME = N'/var/opt/mssql/data/IELTSFlow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IELTSFlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [IELTSFlow]    Script Date: 24/07/2026 21:57:48 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'IELTSFlow')
CREATE USER [IELTSFlow] FOR LOGIN [IELTSFlow] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IELTSFlow]
GO
/****** Object:  Table [dbo].[AIEvaluations]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AIEvaluations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AIEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[DetailID] [int] NOT NULL,
	[FeedbackJSON] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Answers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ContentJson] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CandidateTargets]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CandidateTargets]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CandidateTargets](
	[TargetID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TargetBand] [decimal](3, 1) NOT NULL,
	[CurrentBand] [decimal](3, 1) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TargetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ExamQuestions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamQuestions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExamQuestions](
	[SectionID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exams]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[SkillFocus] [nvarchar](20) NULL,
	[Duration] [int] NOT NULL,
	[MentorID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ExamSections]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamSections]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExamSections](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[SectionName] [nvarchar](100) NOT NULL,
	[ResourceID] [int] NULL,
	[OrderIndex] [int] NOT NULL,
	[Skill] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lessons]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[VideoURL] [nvarchar](500) NULL,
	[DocumentURL] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
	[Skill] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Pathways]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pathways]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pathways](
	[PathwayID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PlacementTestID] [int] NULL,
	[TargetBand] [decimal](3, 1) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PathwayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[QuestionResource]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuestionResource]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QuestionResource](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](255) NULL,
	[ResourceText] [nvarchar](max) NULL,
	[ResourceAudioURL] [nvarchar](500) NULL,
	[ResourceImageURL] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NOT NULL,
	[Skill] [nvarchar](20) NOT NULL,
	[Difficulty] [nvarchar](20) NULL,
	[Explanation] [nvarchar](max) NULL,
	[OrderInResource] [int] NULL,
	[contentJSON] [nvarchar](max) NOT NULL,
	[QuestionCount] [int] NULL,
	[CreatedBy] [int] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[QuestionTags]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuestionTags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QuestionTags](
	[QuestionID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SubmissionDetails]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubmissionDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubmissionDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[CandidateAnswer] [nvarchar](max) NULL,
	[SpeakingUrl] [nvarchar](500) NULL,
	[CandidateTranscript] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
	[Score] [decimal](5, 2) NULL,
	[GradingStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SubscriptionPackages]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubscriptionPackages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubscriptionPackages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DurationMonths] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SystemLogs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SystemLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Entity] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TestSubmissions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestSubmissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TestSubmissions](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ListeningBand] [decimal](3, 1) NULL,
	[ReadingBand] [decimal](3, 1) NULL,
	[WritingBand] [decimal](3, 1) NULL,
	[SpeakingBand] [decimal](3, 1) NULL,
	[OverallBand] [decimal](3, 1) NULL,
	[TotalScore] [decimal](5, 2) NULL,
	[ViolationCount] [int] NULL,
	[IsCheated] [bit] NULL,
	[Status] [nvarchar](20) NULL,
	[OverallAIFeedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TicketReplies]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TicketReplies]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TicketReplies](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tickets]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[GatewayTransactionID] [nvarchar](100) NULL,
	[GatewayPayload] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[upload_sessions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[upload_sessions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[upload_sessions](
	[upload_id] [varchar](255) NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[total_chunks] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[upload_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UploadedFiles]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UploadedFiles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UploadedFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[OriginalName] [nvarchar](255) NOT NULL,
	[SavedPath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserLessonProgress]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserLessonProgress]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserLessonProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
	[IsCompleted] [bit] NULL,
	[IsBookmarked] [bit] NULL,
	[LastAccessed] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserQuestionBookmarks]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserQuestionBookmarks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserQuestionBookmarks](
	[BookmarkID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookmarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[AuthProvider] [nvarchar](50) NULL,
	[ProviderID] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
	[ProfilePic] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserSubscriptions]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSubscriptions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserSubscriptions](
	[UserSubID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WeeklyPlans]    Script Date: 24/07/2026 21:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WeeklyPlans]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WeeklyPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PathwayID] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[PlanContent] [nvarchar](max) NOT NULL,
	[IsCompleted] [bit] NULL,
	[IsCurrentWeek] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[AIEvaluations] ON 

SET IDENTITY_INSERT [dbo].[AIEvaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Content], [ContentJson], [IsCorrect]) VALUES (13, 7, N'FillInBlanks Answer Map', N'{
  "1": [
    "evidence"
  ]
}', 1)
INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Content], [ContentJson], [IsCorrect]) VALUES (20, 12, N'FillInBlanks Answer Map', N'{
  "1": [
    "H"
  ]
}', 1)
INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Content], [ContentJson], [IsCorrect]) VALUES (21, 13, N'FillInBlanks Answer Map', N'{
  "1": [
    "F"
  ]
}', 1)
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateTargets] ON 

INSERT [dbo].[CandidateTargets] ([TargetID], [UserID], [TargetBand], [CurrentBand], [IsActive]) VALUES (1, 1002, CAST(7.0 AS Decimal(3, 1)), NULL, 1)
SET IDENTITY_INSERT [dbo].[CandidateTargets] OFF
GO
INSERT [dbo].[ExamQuestions] ([SectionID], [QuestionID], [OrderIndex]) VALUES (2, 9, 1)
INSERT [dbo].[ExamQuestions] ([SectionID], [QuestionID], [OrderIndex]) VALUES (2, 10, 2)
INSERT [dbo].[ExamQuestions] ([SectionID], [QuestionID], [OrderIndex]) VALUES (2, 11, 3)
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [Title], [Type], [SkillFocus], [Duration], [MentorID], [CreatedAt], [Deleted]) VALUES (1, N'test', N'Placement Test', N'All', 120, 2, CAST(N'2026-07-11T12:55:31.313' AS DateTime), 0)
INSERT [dbo].[Exams] ([ExamID], [Title], [Type], [SkillFocus], [Duration], [MentorID], [CreatedAt], [Deleted]) VALUES (2, N'Mock test 1', N'Mock Test', N'All', 120, 2, CAST(N'2026-07-15T15:50:27.930' AS DateTime), 0)
INSERT [dbo].[Exams] ([ExamID], [Title], [Type], [SkillFocus], [Duration], [MentorID], [CreatedAt], [Deleted]) VALUES (3, N'IELTS Academic Mock Test 1', N'Practice', N'All', 120, 2, CAST(N'2026-07-17T03:33:13.187' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamSections] ON 

INSERT [dbo].[ExamSections] ([SectionID], [ExamID], [SectionName], [ResourceID], [OrderIndex], [Skill]) VALUES (2, 1, N'R1_P2', 2, 2, N'Reading')
INSERT [dbo].[ExamSections] ([SectionID], [ExamID], [SectionName], [ResourceID], [OrderIndex], [Skill]) VALUES (3, 1, N'L1_P1', 3, 4, N'Listening')
INSERT [dbo].[ExamSections] ([SectionID], [ExamID], [SectionName], [ResourceID], [OrderIndex], [Skill]) VALUES (4, 1, N'R1_P1', 1, 1, N'Reading')
SET IDENTITY_INSERT [dbo].[ExamSections] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonID], [Title], [Content], [VideoURL], [DocumentURL], [CreatedBy], [CreatedAt], [Deleted], [Skill]) VALUES (1, N'ENG - Basic Grammar for IELTS WRITING', N'', N'', N'/material/document/d9fd55da-9838-4647-9db5-32fa299b798d.pdf', NULL, NULL, 0, N'Writing')
INSERT [dbo].[Lessons] ([LessonID], [Title], [Content], [VideoURL], [DocumentURL], [CreatedBy], [CreatedAt], [Deleted], [Skill]) VALUES (2, N'VIE - Kỹ năng tự học ', N'', N'/material/video/6b07cfec-53f6-461e-a0b2-9cb4f8d7903f.mp4', N'', NULL, NULL, 0, N'Reading')
INSERT [dbo].[Lessons] ([LessonID], [Title], [Content], [VideoURL], [DocumentURL], [CreatedBy], [CreatedAt], [Deleted], [Skill]) VALUES (3, N'Reading Practice PDF', N'', N'', N'', 2, CAST(N'2026-07-17T03:34:46.630' AS DateTime), 1, N'Listening')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (1, 1002, N'Bạn đã đủ điều kiện!', N'Hãy vào mục Kế hoạch tuần (Weekly Plan) để tạo lộ trình học cá nhân hóa ngay.', N'System', 1, CAST(N'2026-07-18T15:51:37.600' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (2, 1002, N'Lộ trình học đã sẵn sàng!', N'Lộ trình học AI của bạn đã được tạo thành công. Hãy vào mục Kế hoạch tuần để xem nhé.', N'System', 1, CAST(N'2026-07-19T22:21:57.713' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (3, 1002, N'Lộ trình học đã sẵn sàng!', N'Lộ trình học AI của bạn đã được tạo thành công. Hãy vào mục Kế hoạch tuần để xem nhé.', N'System', 1, CAST(N'2026-07-19T23:01:58.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionResource] ON 

INSERT [dbo].[QuestionResource] ([ResourceID], [ResourceName], [ResourceText], [ResourceAudioURL], [ResourceImageURL], [Type], [CreatedBy], [Deleted]) VALUES (3, N'Listening 01 Part 01', NULL, N'/material/audio/f9e09e19-146d-4bef-ada0-bcb8b4ee138e.mp3', N'/img/profile_pics/ef7e11e0-d87f-442a-b1a7-489f5a9334f7.jpg', N'Audio', 2, 0)
SET IDENTITY_INSERT [dbo].[QuestionResource] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [ResourceID], [Content], [QuestionType], [Skill], [Difficulty], [Explanation], [OrderInResource], [contentJSON], [QuestionCount], [CreatedBy], [Deleted]) VALUES (2, 1, N'Board games involve (2)  and turn-taking. ', N'FillInBlanks', N'Reading', N'Easy', N'', NULL, N'{
  "blanks": {
    "2": {
      "type": "text",
      "placeholder": ""
    }
  }
}', 1, 2, 0)
INSERT [dbo].[Questions] ([QuestionID], [ResourceID], [Content], [QuestionType], [Skill], [Difficulty], [Explanation], [OrderInResource], [contentJSON], [QuestionCount], [CreatedBy], [Deleted]) VALUES (3, 1, N'Recent changes affecting children’s play
populations of (1) have grown', N'FillInBlanks', N'Reading', N'Easy', N'', NULL, N'{
  "blanks": {
    "1": {
      "type": "text",
      "placeholder": ""
    }
  }
}', 1, 2, 0)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[QuestionTags] ([QuestionID], [TagID]) VALUES (1, 16)
INSERT [dbo].[QuestionTags] ([QuestionID], [TagID]) VALUES (2, 10)
INSERT [dbo].[QuestionTags] ([QuestionID], [TagID]) VALUES (2, 15)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Mentor', N'Giảng viên / Mentor IELTS')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Candidate', N'Học viên luyện thi IELTS')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmissionDetails] ON 

INSERT [dbo].[SubmissionDetails] ([DetailID], [SubmissionID], [QuestionID], [CandidateAnswer], [SpeakingUrl], [CandidateTranscript], [IsCorrect], [Score], [GradingStatus]) VALUES (305, 188, 1, N'["creativity"]', NULL, NULL, 1, CAST(1.00 AS Decimal(5, 2)), N'Graded')
INSERT [dbo].[SubmissionDetails] ([DetailID], [SubmissionID], [QuestionID], [CandidateAnswer], [SpeakingUrl], [CandidateTranscript], [IsCorrect], [Score], [GradingStatus]) VALUES (306, 188, 2, N'["","rules"]', NULL, NULL, 1, CAST(1.00 AS Decimal(5, 2)), N'Graded')
INSERT [dbo].[SubmissionDetails] ([DetailID], [SubmissionID], [QuestionID], [CandidateAnswer], [SpeakingUrl], [CandidateTranscript], [IsCorrect], [Score], [GradingStatus]) VALUES (307, 189, 39, N'["","","",""]', NULL, NULL, 0, CAST(0.00 AS Decimal(5, 2)), N'Graded')
SET IDENTITY_INSERT [dbo].[SubmissionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionPackages] ON 

INSERT [dbo].[SubscriptionPackages] ([PackageID], [Name], [DurationMonths], [Price], [Description], [Deleted]) VALUES (1, N'1 tháng', 1, CAST(49000.00 AS Decimal(18, 2)), N'', 0)
INSERT [dbo].[SubscriptionPackages] ([PackageID], [Name], [DurationMonths], [Price], [Description], [Deleted]) VALUES (2, N'3 tháng', 3, CAST(147000.00 AS Decimal(18, 2)), N'', 0)
INSERT [dbo].[SubscriptionPackages] ([PackageID], [Name], [DurationMonths], [Price], [Description], [Deleted]) VALUES (3, N'6 tháng', 6, CAST(245000.00 AS Decimal(18, 2)), N'', 0)
SET IDENTITY_INSERT [dbo].[SubscriptionPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([LogID], [UserID], [Action], [Entity], [Details], [CreatedAt]) VALUES (1, 1, N'CREATE', N'SubscriptionPackage', N'Auto CREATE for SubscriptionPackage: model.SubscriptionPackage@77b67d1d', CAST(N'2026-07-17T02:51:30.980' AS DateTime))
INSERT [dbo].[SystemLogs] ([LogID], [UserID], [Action], [Entity], [Details], [CreatedAt]) VALUES (2, 1, N'UPDATE', N'SubscriptionPackage', N'Auto UPDATE for SubscriptionPackage: model.SubscriptionPackage@2906ac8d', CAST(N'2026-07-17T02:51:38.493' AS DateTime))
INSERT [dbo].[SystemLogs] ([LogID], [UserID], [Action], [Entity], [Details], [CreatedAt]) VALUES (3, 1, N'UPDATE', N'SubscriptionPackage', N'Auto UPDATE for SubscriptionPackage: model.SubscriptionPackage@7975a615', CAST(N'2026-07-17T02:51:58.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagID], [Name], [Type], [Deleted]) VALUES (1, N'Matching Headings', N'QuestionType', 0)
INSERT [dbo].[Tags] ([TagID], [Name], [Type], [Deleted]) VALUES (2, N'True/False/Not Given', N'QuestionType', 0)
INSERT [dbo].[Tags] ([TagID], [Name], [Type], [Deleted]) VALUES (3, N'Yes/No/Not Given', N'QuestionType', 0)
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[TestSubmissions] ON 

INSERT [dbo].[TestSubmissions] ([SubmissionID], [UserID], [ExamID], [StartTime], [EndTime], [ListeningBand], [ReadingBand], [WritingBand], [SpeakingBand], [OverallBand], [TotalScore], [ViolationCount], [IsCheated], [Status], [OverallAIFeedback]) VALUES (188, 1002, 17, CAST(N'2026-07-24T14:07:47.100' AS DateTime), CAST(N'2026-07-24T14:08:06.417' AS DateTime), NULL, CAST(9.0 AS Decimal(3, 1)), NULL, NULL, CAST(9.0 AS Decimal(3, 1)), NULL, 0, 0, N'Completed', NULL)
INSERT [dbo].[TestSubmissions] ([SubmissionID], [UserID], [ExamID], [StartTime], [EndTime], [ListeningBand], [ReadingBand], [WritingBand], [SpeakingBand], [OverallBand], [TotalScore], [ViolationCount], [IsCheated], [Status], [OverallAIFeedback]) VALUES (189, 1002, 18, CAST(N'2026-07-24T14:08:32.100' AS DateTime), CAST(N'2026-07-24T14:08:48.357' AS DateTime), CAST(6.5 AS Decimal(3, 1)), NULL, NULL, NULL, CAST(6.5 AS Decimal(3, 1)), NULL, 0, 0, N'Completed', NULL)
SET IDENTITY_INSERT [dbo].[TestSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketReplies] ON 

INSERT [dbo].[TicketReplies] ([ReplyID], [TicketID], [SenderID], [Message], [CreatedAt]) VALUES (1, 1, 1002, N'dsdasd', CAST(N'2026-07-22T16:07:22.970' AS DateTime))
INSERT [dbo].[TicketReplies] ([ReplyID], [TicketID], [SenderID], [Message], [CreatedAt]) VALUES (2, 1, 2, N'Here is the answer to your reading question.', CAST(N'2026-07-23T02:59:55.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[TicketReplies] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [UserID], [Subject], [Status], [CreatedAt]) VALUES (1, 1002, N'qwe', N'Resolved', CAST(N'2026-07-22T16:07:22.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [UserID], [PackageID], [Amount], [PaymentMethod], [GatewayTransactionID], [GatewayPayload], [Status], [PaymentDate], [CreatedAt]) VALUES (1, 1002, 1, CAST(49000.00 AS Decimal(18, 2)), N'VietQR - SePay', NULL, NULL, N'Failed/Cancelled', NULL, CAST(N'2026-07-17T03:01:01.053' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [PackageID], [Amount], [PaymentMethod], [GatewayTransactionID], [GatewayPayload], [Status], [PaymentDate], [CreatedAt]) VALUES (2, 1002, 1, CAST(49000.00 AS Decimal(18, 2)), N'VietQR - SePay', NULL, NULL, N'Failed/Cancelled', NULL, CAST(N'2026-07-17T03:01:07.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[UploadedFiles] ON 

INSERT [dbo].[UploadedFiles] ([FileID], [OriginalName], [SavedPath], [FileType], [UploadedBy], [UploadedAt]) VALUES (1, N'L1_P1.mp3', N'/material/audio/f9e09e19-146d-4bef-ada0-bcb8b4ee138e.mp3', N'material', 2, CAST(N'2026-07-14T02:52:33.850' AS DateTime))
INSERT [dbo].[UploadedFiles] ([FileID], [OriginalName], [SavedPath], [FileType], [UploadedBy], [UploadedAt]) VALUES (2, N'L1_P1.jpg', N'/img/profile_pics/ef7e11e0-d87f-442a-b1a7-489f5a9334f7.jpg', N'material', 2, CAST(N'2026-07-14T02:52:56.593' AS DateTime))
INSERT [dbo].[UploadedFiles] ([FileID], [OriginalName], [SavedPath], [FileType], [UploadedBy], [UploadedAt]) VALUES (3, N'W1_P1.jpg', N'/img/profile_pics/db395bc2-0470-4318-86bd-64b208ab5d6d.jpg', N'material', 2, CAST(N'2026-07-15T02:18:41.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[UploadedFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [PasswordHash], [AuthProvider], [ProviderID], [FullName], [Status], [CreatedAt], [Deleted], [ProfilePic]) VALUES (1, 1, N'admin@tanmanh350.ovh', N'$2a$12$mZtnGUihHuIeSfVS.1AeM.n01/DuzH/87vEbSgL3OPSJK5WSIHnyS', N'Local', NULL, N'New Name 1784257947393', N'Active', CAST(N'2026-07-17T01:31:53.277' AS DateTime), 0, NULL)
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [PasswordHash], [AuthProvider], [ProviderID], [FullName], [Status], [CreatedAt], [Deleted], [ProfilePic]) VALUES (2, 2, N'mentor@tanmanh350.ovh', N'$2a$12$9KuqjDfIZ5FKOSVkLHvvN.lI45zIMU1EUtWHysjgVcnNMCIv4zTL2', N'Local', NULL, N'Mentor', N'Active', CAST(N'2026-07-07T10:44:33.520' AS DateTime), 0, NULL)
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [PasswordHash], [AuthProvider], [ProviderID], [FullName], [Status], [CreatedAt], [Deleted], [ProfilePic]) VALUES (3, 3, N'test0001@tanman350.ovh', N'$2a$12$pi2eCDDBTBSrsRz0Vt93m.e6wpr/MWZEgaHX5rn3dgBcPEiZBwMPa', N'Local', NULL, N'test0001', N'Active', CAST(N'2026-07-07T10:45:03.033' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSubscriptions] ON 

INSERT [dbo].[UserSubscriptions] ([UserSubID], [UserID], [PackageID], [StartDate], [EndDate], [Status]) VALUES (1, 1002, 1, CAST(N'2026-07-12T04:34:58.467' AS DateTime), CAST(N'2110-07-12T04:34:58.467' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[UserSubscriptions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61608FF0BE63]    Script Date: 24/07/2026 21:57:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND name = N'UQ__Roles__8A2B61608FF0BE63')
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Question]    Script Date: 24/07/2026 21:57:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UserQuestionBookmarks]') AND name = N'UQ_User_Question')
ALTER TABLE [dbo].[UserQuestionBookmarks] ADD  CONSTRAINT [UQ_User_Question] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534900E1064]    Script Date: 24/07/2026 21:57:50 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND name = N'UQ__Users__A9D10534900E1064')
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__AIEvaluat__Creat__123EB7A3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AIEvaluations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Answers__IsCorre__5CD6CB2B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Answers] ADD  DEFAULT ((0)) FOR [IsCorrect]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Candidate__IsAct__4222D4EF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CandidateTargets] ADD  DEFAULT ((1)) FOR [IsActive]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Exams__SkillFocu__787EE5A0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ('All') FOR [SkillFocus]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Exams__CreatedAt__797309D9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Exams__Deleted__7B5B524B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__ExamSecti__Skill__7E37BEF6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ExamSections] ADD  DEFAULT ('Listening') FOR [Skill]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Lessons__Created__6754599E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Lessons__Deleted__693CA210]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Notificati__Type__2B0A656D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('System') FOR [Type]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Notificat__IsRea__2BFE89A6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Notificat__Creat__2CF2ADDF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Pathways__Create__17036CC0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Pathways] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__QuestionR__Delet__5441852A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[QuestionResource] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Questions__Quest__571DF1D5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [QuestionCount]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Questions__Delet__59FA5E80]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Submissio__Gradi__0D7A0286]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SubmissionDetails] ADD  DEFAULT ('Graded') FOR [GradingStatus]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Subscript__Delet__45F365D3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SubscriptionPackages] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SystemLog__Creat__30C33EC3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SystemLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Tags__Deleted__60A75C0F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TestSubmi__Viola__06CD04F7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TestSubmissions] ADD  DEFAULT ((0)) FOR [ViolationCount]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TestSubmi__IsChe__07C12930]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TestSubmissions] ADD  DEFAULT ((0)) FOR [IsCheated]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TestSubmi__Statu__08B54D69]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TestSubmissions] ADD  DEFAULT ('InProgress') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TicketRep__Creat__2645B050]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Tickets__Status__2180FB33]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('Open') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Tickets__Created__22751F6C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Transacti__Statu__48CFD27E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Pending') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Transacti__Creat__49C3F6B7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__upload_se__creat__3864608B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[upload_sessions] ADD  DEFAULT (getdate()) FOR [created_at]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UploadedF__Uploa__3493CFA7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UploadedFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserLesso__IsCom__6C190EBB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserLessonProgress] ADD  DEFAULT ((0)) FOR [IsCompleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserLesso__IsBoo__6D0D32F4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserLessonProgress] ADD  DEFAULT ((0)) FOR [IsBookmarked]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserLesso__LastA__6E01572D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserLessonProgress] ADD  DEFAULT (getdate()) FOR [LastAccessed]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserQuest__Creat__73BA3083]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserQuestionBookmarks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Users__AuthProvi__3B75D760]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Local') FOR [AuthProvider]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Users__Status__3C69FB99]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Users__CreatedAt__3D5E1FD2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Users__Deleted__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Deleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserSubsc__Statu__4E88ABD4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserSubscriptions] ADD  DEFAULT ('Active') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__WeeklyPla__IsCom__1BC821DD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WeeklyPlans] ADD  DEFAULT ((0)) FOR [IsCompleted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__WeeklyPla__IsCur__1CBC4616]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WeeklyPlans] ADD  DEFAULT ((0)) FOR [IsCurrentWeek]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__AIEvaluat__Detai__1332DBDC]') AND parent_object_id = OBJECT_ID(N'[dbo].[AIEvaluations]'))
ALTER TABLE [dbo].[AIEvaluations]  WITH CHECK ADD FOREIGN KEY([DetailID])
REFERENCES [dbo].[SubmissionDetails] ([DetailID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Answers__Questio__5DCAEF64]') AND parent_object_id = OBJECT_ID(N'[dbo].[Answers]'))
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Candidate__UserI__4316F928]') AND parent_object_id = OBJECT_ID(N'[dbo].[CandidateTargets]'))
ALTER TABLE [dbo].[CandidateTargets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ExamQuest__Quest__03F0984C]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamQuestions]'))
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ExamQuest__Secti__02FC7413]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamQuestions]'))
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([SectionID])
REFERENCES [dbo].[ExamSections] ([SectionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Exams__MentorID__7A672E12]') AND parent_object_id = OBJECT_ID(N'[dbo].[Exams]'))
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ExamSecti__ExamI__7F2BE32F]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamSections]'))
ALTER TABLE [dbo].[ExamSections]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ExamSecti__Resou__00200768]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamSections]'))
ALTER TABLE [dbo].[ExamSections]  WITH CHECK ADD FOREIGN KEY([ResourceID])
REFERENCES [dbo].[QuestionResource] ([ResourceID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Lessons__Created__68487DD7]') AND parent_object_id = OBJECT_ID(N'[dbo].[Lessons]'))
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Notificat__UserI__2DE6D218]') AND parent_object_id = OBJECT_ID(N'[dbo].[Notifications]'))
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Pathways__Placem__18EBB532]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pathways]'))
ALTER TABLE [dbo].[Pathways]  WITH CHECK ADD FOREIGN KEY([PlacementTestID])
REFERENCES [dbo].[TestSubmissions] ([SubmissionID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Pathways__UserID__17F790F9]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pathways]'))
ALTER TABLE [dbo].[Pathways]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__QuestionR__Creat__534D60F1]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuestionResource]'))
ALTER TABLE [dbo].[QuestionResource]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Questions__Creat__59063A47]') AND parent_object_id = OBJECT_ID(N'[dbo].[Questions]'))
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Questions__Resou__5812160E]') AND parent_object_id = OBJECT_ID(N'[dbo].[Questions]'))
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([ResourceID])
REFERENCES [dbo].[QuestionResource] ([ResourceID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__QuestionT__Quest__6383C8BA]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuestionTags]'))
ALTER TABLE [dbo].[QuestionTags]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__QuestionT__TagID__6477ECF3]') AND parent_object_id = OBJECT_ID(N'[dbo].[QuestionTags]'))
ALTER TABLE [dbo].[QuestionTags]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Submissio__Quest__0F624AF8]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubmissionDetails]'))
ALTER TABLE [dbo].[SubmissionDetails]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Submissio__Submi__0E6E26BF]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubmissionDetails]'))
ALTER TABLE [dbo].[SubmissionDetails]  WITH CHECK ADD FOREIGN KEY([SubmissionID])
REFERENCES [dbo].[TestSubmissions] ([SubmissionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__SystemLog__UserI__31B762FC]') AND parent_object_id = OBJECT_ID(N'[dbo].[SystemLogs]'))
ALTER TABLE [dbo].[SystemLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TestSubmi__ExamI__0A9D95DB]') AND parent_object_id = OBJECT_ID(N'[dbo].[TestSubmissions]'))
ALTER TABLE [dbo].[TestSubmissions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TestSubmi__UserI__09A971A2]') AND parent_object_id = OBJECT_ID(N'[dbo].[TestSubmissions]'))
ALTER TABLE [dbo].[TestSubmissions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TicketRep__Sende__282DF8C2]') AND parent_object_id = OBJECT_ID(N'[dbo].[TicketReplies]'))
ALTER TABLE [dbo].[TicketReplies]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TicketRep__Ticke__2739D489]') AND parent_object_id = OBJECT_ID(N'[dbo].[TicketReplies]'))
ALTER TABLE [dbo].[TicketReplies]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Tickets__UserID__236943A5]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tickets]'))
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Transacti__Packa__4BAC3F29]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transactions]'))
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([PackageID])
REFERENCES [dbo].[SubscriptionPackages] ([PackageID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Transacti__UserI__4AB81AF0]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transactions]'))
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UploadedF__Uploa__3587F3E0]') AND parent_object_id = OBJECT_ID(N'[dbo].[UploadedFiles]'))
ALTER TABLE [dbo].[UploadedFiles]  WITH CHECK ADD FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserLesso__Lesso__6FE99F9F]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserLessonProgress]'))
ALTER TABLE [dbo].[UserLessonProgress]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserLesso__UserI__6EF57B66]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserLessonProgress]'))
ALTER TABLE [dbo].[UserLessonProgress]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserQuest__Quest__75A278F5]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQuestionBookmarks]'))
ALTER TABLE [dbo].[UserQuestionBookmarks]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserQuest__UserI__74AE54BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserQuestionBookmarks]'))
ALTER TABLE [dbo].[UserQuestionBookmarks]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Users__RoleID__3E52440B]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserSubsc__Packa__5070F446]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserSubscriptions]'))
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD FOREIGN KEY([PackageID])
REFERENCES [dbo].[SubscriptionPackages] ([PackageID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__UserSubsc__UserI__4F7CD00D]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserSubscriptions]'))
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__WeeklyPla__Pathw__1DB06A4F]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeeklyPlans]'))
ALTER TABLE [dbo].[WeeklyPlans]  WITH CHECK ADD FOREIGN KEY([PathwayID])
REFERENCES [dbo].[Pathways] ([PathwayID])
ON DELETE CASCADE
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeedbackJSON]') AND parent_object_id = OBJECT_ID(N'[dbo].[AIEvaluations]'))
ALTER TABLE [dbo].[AIEvaluations]  WITH CHECK ADD  CONSTRAINT [CHK_FeedbackJSON] CHECK  ((isjson([FeedbackJSON])=(1)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_FeedbackJSON]') AND parent_object_id = OBJECT_ID(N'[dbo].[AIEvaluations]'))
ALTER TABLE [dbo].[AIEvaluations] CHECK CONSTRAINT [CHK_FeedbackJSON]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlanContent]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeeklyPlans]'))
ALTER TABLE [dbo].[WeeklyPlans]  WITH CHECK ADD  CONSTRAINT [CHK_PlanContent] CHECK  ((isjson([PlanContent])=(1)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_PlanContent]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeeklyPlans]'))
ALTER TABLE [dbo].[WeeklyPlans] CHECK CONSTRAINT [CHK_PlanContent]
GO
